@tailwind base;
@tailwind components;
@tailwind utilities;

.material-design-icon.icon-full {
  height: 90%;
  width: 90%;
}
.material-design-icon.icon-full > .material-design-icon__svg {
  height: 100%;
  width: 100%;
}
